<!-- Publications Section Component -->
<section id="publications" class="section">
    <div class="container">
        <h2>Publications & Projects</h2>
        <div class="publications">
            <div class="publication">
                <h3>Project Title 1</h3>
                <p class="authors">H. Bai, et al.</p>
                <p class="venue"><em>Conference/Journal Name</em>, 2024</p>
                <p class="description">Brief description of the research contribution and methodology used in this work.</p>
                <div class="links">
                    <a href="#" class="link">Paper</a>
                    <a href="#" class="link">Code</a>
                </div>
            </div>
            
            <div class="publication">
                <h3>Project Title 2</h3>
                <p class="authors">H. Bai, Co-author Name</p>
                <p class="venue"><em>Workshop/Conference Name</em>, 2023</p>
                <p class="description">Description of another research project or publication with focus on technical contributions.</p>
                <div class="links">
                    <a href="#" class="link">Demo</a>
                    <a href="#" class="link">GitHub</a>
                </div>
            </div>
            
            <div class="publication">
                <h3>Open Source Project</h3>
                <p class="authors">H. Bai</p>
                <p class="venue"><em>GitHub Repository</em>, 2023</p>
                <p class="description">A software tool or library developed for the research community with practical applications.</p>
                <div class="links">
                    <a href="#" class="link">Repository</a>
                    <a href="#" class="link">Documentation</a>
                </div>
            </div>
        </div>
    </div>
</section>